
$kaushan: 'Kaushan Script', italic;
$mont: Montserrat, sans-serif;
$roboto: Roboto, sans-serif;
body
{
	font-size: 62.5%;
}
h1,
h2
{
	margin-top: 0;
	padding-top: 0;
}
.mT50 {
	margin-top: 50px !important;
}
.mT100
{
	margin-top: 100px;
}
.navbar-default
{
	border-color: transparent;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover
{
	background-color: transparent;
}
.navbar-default .navbar-nav a:hover
{
	border-bottom: 2px solid yellow;
}
.container-fluid .navbar-nav li a
{
	font: 1.4rem $mont;

	text-transform: uppercase;

	color: white;
}

.navbar-default .navbar-nav .active a
{
	color: white;
}
.container-fluid .navbar-nav .active a:hover
{
	color: yellow;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
{
	color: yellow;
}
.navbar-default .navbar-brand
{
	color: white;
}
.navbar-default .navbar-brand:hover
{
	color: white;
}
.first
{
	padding-top: 30px;

	background-image: url('../img/bg-1.jpg');
	background-size: cover;
}
.navbar
{
	margin-bottom: 0;
}
.navbar-brand
{
	font: bold 3.0rem $mont;
}
.subheader
{
	font: 6.5rem $kaushan;

	margin-top: 170px;

	color: white;
}
.slogan
{
	font: bold 7rem $mont;
	line-height: .9;

	text-transform: uppercase;

	color: white;
}
.white-line
{
	width: 7%;
	height: 3px;
	margin-top: 50px;

	color: white;
	border: 0 none;
	background-color: white;
}
.btn-rectangle
{
	font: bold 1.4rem $mont;

	margin-top: 50px;
	padding: 10px 20px;

	transition: .3s ease;
	text-transform: uppercase;

	color: white;
	border: 2px solid white;
	background: transparent;
	&:hover
	{
		color: salmon;
		border: 2px solid salmon;
	}
}
.four-sections
{
	font: 18px $mont;

	margin-top: 150px;

	color: white;
	& > div
	{
		width: calc(25% - 20px);
		margin-right: 20px;
		padding-top: 20px;
		padding-bottom: 20px;

		transition: .3s linear;

		border-top: 4px solid white;
		&:hover
		{
			border-top: 4px solid salmon;
		}
	}
	.big-number
	{
		font-size: 2.4rem;
		font-weight: bold;
	}
}
.what-we-do
{
	text-align: center;
}
.row .h2-italic
{
	font: 2.4rem $kaushan;

	margin-top: 90px;

	text-align: center;
}
.row .h3-bold
{
	font: bold 3.0rem $mont;

	text-align: center;
	text-transform: uppercase;

	color: black;
}
.red-line
{
	width: 7%;
	height: 3px;
	margin-top: 30px;
	margin-bottom: 30px;

	color: salmon;
	border: 0 none;
	background-color: white;
	background-color: salmon;
}
.roboto
{
	font: 1.5rem $roboto;

	text-align: center;

	color: #999;
}
.img-small
{
	height: 280px;
	margin-top: 100px;

	background-repeat: no-repeat;
}
.img-small:first-child
{
	margin-right: 20px;

	background-image: url('../img/img-1.jpg');
	background-size: cover;
}
.img-small:nth-of-type(2)
{
	background-image: url('../img/img-2.jpg');
	background-size: cover;
}
.img-small:last-child
{
	font: bold 1.8rem $mont;

	margin-left: 20px;
	padding-top: 100px;

	color: white;
	background-image: url('../img/img-3.jpg');
	background-size: cover;
	.glyphicon-user
	{
		margin-bottom: 20px;
	}
}
.numbers
{
	margin-top: 100px;

	background-color: #95e1d3;
}
.bigger-number
{
	font: bold 5.0rem $mont;

	padding-top: 50px;

	text-align: center;

	color: white;
}
.sub-bigger-number
{
	font: 1.4rem $mont;

	padding-bottom: 50px;

	text-align: center;
	text-transform: uppercase;

	color: white;
}
.grey
{
	background-image: url('../img/grey.jpg');
	background-attachment: fixed;
	background-size: cover;
}
.img-center
{
	display: block;

	margin: 0 auto;
}
.mB-90
{
	margin-bottom: -90px;
}
.grey-2
{
	background-image: url('../img/grey2.png');
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 50px;
	.red-line {
		margin-left: 0;
	}
	hr.first-line {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}
	.red-line {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	img {
		float: left;
		margin-right: 20px;
	}
p {
		margin-left: 130px !important;
	}
}
.services
{
	padding-bottom: 100px;
	h2
	{
		font: 1.4rem $mont;

		text-transform: uppercase;

		color: black;
	}
	.service-p
	{
		font: 1.5rem $roboto !important;

		margin-left: 51px;

		color: #999;
	}
	img
	{
		float: left;

		margin-right: 20px;
	}
	.red-line
	{
		margin-bottom: 60px;
	}
}
.our-service:last-child
{
	margin-top: 20px;
	padding-top: 40px;

	border-top: 1px solid #e5e5e5;
}
.first-service
{
	p
	{
		margin-bottom: 100px;
	}
	.img-service
	{
		height: 350px;

		background-image: url('../img/work.jpg');
		background-size: cover;
	}
	.panel-body
	{
		font: italic 1.5rem $roboto;

		color: #999;
	}
	.panel-title
	{
		font: 1.4rem $mont;

		text-transform: uppercase;
		img
		{
			margin-right: 15px;
		}
	}
	.panel-heading
	{
		background-color: white;
	}
}
.testimonial
{
	margin-top: 80px;
	padding-bottom: 30px;

	background-color: #f8f8f8;
	.red-line
	{
		float: left;

		margin-left: 0;
	}
	.client-tell
	{
		font: italic 1.7rem $roboto;

		margin-top: 40px;

		color: #999;
		border-left: none;
		img
		{
			float: left;

			margin-right: 60px;
		}
	}
	footer
	{
		font: 1.8rem $kaushan;
		p
		{
			float: left;

			margin-top: 16px;
			margin-left: 20px;
		}
	}
}
blockquote .small:before,
blockquote footer:before,
blockquote small:before
{
	content: '';
}
.grey-2
{
	h2
	{
		font: 14px $mont;

		text-align: left;
		text-transform: uppercase;

		color: black;
	}
	h3
	{
		font: italic 15px $roboto;

		margin-top: 0;

		text-align: left;

		color: #999;
	}
	p
	{
		font: 1.5rem $roboto;

		color: #999;
	}
}
.workers
{
	h2
	{
		font: 14px $mont;

		text-align: center;
		text-transform: uppercase;

		color: black;
	}
	h3
	{
		font: italic 15px $roboto;

		margin-top: 0;

		text-align: center;

		color: #999;
	}
	img
	{
		width: auto;
		height: 400px;
		margin-bottom: 32px;
	}

}

.brands
{
	margin-top: 40px;

	background-color: #f5f5f5;
	.col-md-2:nth-child(2)
	{
		margin-top: 15px;
	}
	.col-md-2:nth-child(3)
	{
		margin-top: 5px;
	}
	.col-md-2:last-child
	{
		margin-top: 7px;
	}
}

.gallery-img
{
	.col-md-3
	{
		height: 300px;

		background-repeat: no-repeat;
		background-size: cover;
	}
	.col-md-3:nth-child(1)
	{
		background-image: url('../img/gal-1.jpg');
	}
	.col-md-3:nth-child(2)
	{
		background-image: url('../img/gal-2.jpg');
	}
	.col-md-3:nth-child(3)
	{
		background-image: url('../img/gal-3.jpg');
	}
	.col-md-3:nth-child(4)
	{
		background-image: url('../img/gal-4.jpg');
	}
	.col-md-3:nth-child(5)
	{
		background-image: url('../img/gal-5.jpg');
	}
	.col-md-3:nth-child(6)
	{
		background-image: url('../img/gal-6.jpg');
	}
	.col-md-3:nth-child(7)
	{
		background-image: url('../img/gal-1.jpg');
	}
	.col-md-3:nth-child(8)
	{
		background-image: url('../img/gal-2.jpg');
	}
}

.joshua
{
	background-color: white;
	img
	{
		margin-top: -30px;
	}
}
.map {
	background-image: url("../img/bottom.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
		span {
			color: salmon;
			font-size: 3.0rem;
			padding-top: 80px;
		}
		p {
			font: 2.4rem $mont;
			text-transform: uppercase;
			
			
			text-align: center;
			color: salmon;
		}
			.red-line {
				margin-bottom: 80px;
		}
}
.blog {
	img {
		height: 200px;
	}
	padding-bottom: 100px;
}
// style warunkowe - nadaje odpowiedni padding na szerokim ekranie
@media(min-width: 1100px)
{
	.container-fluid
	{
		padding-right: 100px;
		padding-left: 100px;
	}
	.img-small
	{
		width: calc(33.333% - 20px);
	}
}
@media(max-width: 960px)
{
	.img-small
	{
		display: block;
		float: none;

		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
	}
	.img-small:first-child
	{
		margin-right: auto;
	}

	.img-small:last-child
	{
		margin-left: auto;
	}
	.panel-default
	{
		margin-top: 40px;
	}
}
