
$kaushan: 'Kaushan Script', italic;
$mont: Montserrat, sans-serif;
$roboto: Roboto, sans-serif;
body
{
    font-size: 62.5%;
}
h1,
h2
{
    margin-top: 0;
    padding-top: 0;
}

.navbar-default
{
    border-color: transparent;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover
{
    background-color: transparent;
}
.navbar-default .navbar-nav a:hover
{
    border-bottom: 2px solid yellow;
}
.container-fluid .navbar-nav li a
{
    font: 1.4rem $mont;

    text-transform: uppercase;

    color: white;
}

.navbar-default .navbar-nav .active a
{
    color: white;
}
.container-fluid .navbar-nav .active a:hover
{
    color: yellow;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
{
    color: yellow;
}
.navbar-default .navbar-brand
{
    color: white;
}
.navbar-default .navbar-brand:hover
{
    color: white;
}
.first
{
    padding-top: 30px;

    background-image: url('../img/bg-1.jpg');
    background-size: cover;
}
.navbar
{
    margin-bottom: 0;
}
.navbar-brand
{
    font: bold 3.0rem $mont;
}
.subheader
{
    font: 6.5rem $kaushan;

    margin-top: 170px;

    color: white;
}
.slogan
{
    font: bold 7rem $mont;
    line-height: .9;

    text-transform: uppercase;

    color: white;
}
.white-line
{
    width: 7%;
    height: 3px;
    margin-top: 50px;

    color: white;
    border: 0 none;
    background-color: white;
}
.btn-rectangle
{
    font: bold 1.4rem $mont;

    margin-top: 50px;
    padding: 10px 20px;

    transition: .3s ease;
    text-transform: uppercase;

    color: white;
    border: 2px solid white;
    background: transparent;
    &:hover
    {
        color: salmon;
        border: 2px solid salmon;
    }
}
.four-sections
{
    font: 18px $mont;

    margin-top: 150px;

    color: white;
    & > div
    {
        width: calc(25% - 20px);
        margin-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

        transition: .3s linear;

        border-top: 4px solid white;
        &:hover
        {
            border-top: 4px solid salmon;
        }
    }
    .big-number
    {
        font-size: 2.4rem;
        font-weight: bold;
    }
}
.what-we-do
{
    text-align: center;
}
.h2-italic
{
    font: 2.4rem $kaushan;

    margin-top: 90px;

    text-align: center;
}
.h3-bold
{
    font: bold 3.0rem $mont;

    text-align: center;
    text-transform: uppercase;
}
.red-line
{
    width: 7%;
    height: 3px;
    margin-top: 30px;
    margin-bottom: 30px;

    color: salmon;
    border: 0 none;
    background-color: white;
    background-color: salmon;
}
.roboto
{
    font: 1.5rem $roboto;

    text-align: center;

    color: #999;
}
.img-small
{
    height: 280px;
    margin-top: 100px;

    background-repeat: no-repeat;
}
.img-small:first-child
{
    margin-right: 20px;

    background-image: url('../img/img-1.jpg');
    background-size: cover;
}
.img-small:nth-of-type(2)
{
    background-image: url('../img/img-2.jpg');
    background-size: cover;
}
.img-small:last-child
{
    font: bold 1.8rem $mont;

    margin-left: 20px;
    padding-top: 100px;

    color: white;
    background-image: url('../img/img-3.jpg');
    background-size: cover;
    .glyphicon-user {
    	margin-bottom: 20px;
    }
}
.numbers
{
    margin-top: 100px;

    background-color: #95e1d3;
}
.bigger-number
{
    font: bold 5.0rem $mont;

    padding-top: 50px;

    text-align: center;

    color: white;
}
.sub-bigger-number
{
    font: 1.4rem $mont;

    padding-bottom: 50px;

    text-align: center;

    color: white;
    text-transform: uppercase;
}
.grey
{
    background-image: url('../img/grey.jpg');
    background-size: cover;
}
.img-center
{
    display: block;

    margin: 0 auto;
}
.mB-90
{
    margin-bottom: -90px;
}
.grey-2
{
    background-image: url('../img/grey2.png');
    background-size: cover;
}
.services {
	padding-bottom: 100px;
	h2 {
		font: 1.4rem $mont;
		text-transform: uppercase;
		color: black;

	}
		.service-p {
		font: 1.5rem $roboto !important;
		color: #999999;
		margin-left: 51px;
	}
	img {
		float: left;
		margin-right: 20px;
	}
	.red-line {
		margin-bottom: 60px;
	}
}
.our-service:last-child {
	border-top: 1px solid #e5e5e5;
	margin-top: 20px;
	padding-top: 40px;
}
// style warunkowe - nadaje odpowiedni padding na szerokim ekranie
@media(min-width: 1100px)
{
    .container-fluid
    {
        padding-right: 100px;
        padding-left: 100px;
    }
    .img-small
    {
        width: calc(33.333% - 20px);
    }
}
@media(max-width: 960px)
{
    .img-small
    {
        display: block;
        float: none;

        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }
    .img-small:first-child
    {
        margin-right: auto;
    }

    .img-small:last-child
    {
        margin-left: auto;
    }
}
