/* line 5, ../sass/screen.scss */
body {
  font-size: 62.5%;
}

/* line 9, ../sass/screen.scss */
h1,
h2 {
  margin-top: 0;
  padding-top: 0;
}

/* line 16, ../sass/screen.scss */
.navbar-default {
  border-color: transparent;
  background-color: transparent;
}

/* line 21, ../sass/screen.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
}

/* line 27, ../sass/screen.scss */
.navbar-default .navbar-nav a:hover {
  border-bottom: 2px solid yellow;
}

/* line 31, ../sass/screen.scss */
.container-fluid .navbar-nav li a {
  font: 1.4rem Montserrat, sans-serif;
  text-transform: uppercase;
  color: white;
}

/* line 40, ../sass/screen.scss */
.navbar-default .navbar-nav .active a {
  color: white;
}

/* line 44, ../sass/screen.scss */
.container-fluid .navbar-nav .active a:hover {
  color: yellow;
}

/* line 49, ../sass/screen.scss */
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: yellow;
}

/* line 54, ../sass/screen.scss */
.navbar-default .navbar-brand {
  color: white;
}

/* line 58, ../sass/screen.scss */
.navbar-default .navbar-brand:hover {
  color: white;
}

/* line 62, ../sass/screen.scss */
.first {
  padding-top: 30px;
  background-image: url("../img/bg-1.jpg");
  background-size: cover;
}

/* line 69, ../sass/screen.scss */
.navbar {
  margin-bottom: 0;
}

/* line 73, ../sass/screen.scss */
.navbar-brand {
  font: bold 3rem Montserrat, sans-serif;
}

/* line 77, ../sass/screen.scss */
.subheader {
  font: 6.5rem "Kaushan Script", italic;
  color: white;
  margin-top: 170px;
}

/* line 85, ../sass/screen.scss */
.slogan {
  font: bold 7rem Montserrat, sans-serif;
  text-transform: uppercase;
  color: white;
  line-height: 0.9;
}

/* line 94, ../sass/screen.scss */
.white-line {
  width: 7%;
  height: 3px;
  color: white;
  border: 0 none;
  background-color: white;
  margin-top: 50px;
}

/* line 104, ../sass/screen.scss */
.btn-rectangle {
  font: bold 1.4rem Montserrat, sans-serif;
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  background: transparent;
  transition: 0.3s ease;
  margin-top: 50px;
}
/* line 117, ../sass/screen.scss */
.btn-rectangle:hover {
  border: 2px solid salmon;
  color: salmon;
}

/* line 123, ../sass/screen.scss */
.four-sections {
  font: 18px Montserrat, sans-serif;
  margin-top: 150px;
  color: white;
}
/* line 130, ../sass/screen.scss */
.four-sections > div {
  width: calc(25% - 20px);
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: .3s linear;
  border-top: 4px solid white;
}
/* line 140, ../sass/screen.scss */
.four-sections > div:hover {
  border-top: 4px solid salmon;
}
/* line 145, ../sass/screen.scss */
.four-sections .big-number {
  font-size: 2.4rem;
  font-weight: bold;
}

/* line 151, ../sass/screen.scss */
.what-we-do {
  text-align: center;
}

/* line 155, ../sass/screen.scss */
.h2-italic {
  font: 2.4rem "Kaushan Script", italic;
  text-align: center;
  margin-top: 90px;
}

/* line 160, ../sass/screen.scss */
.h3-bold {
  font: bold 3rem Montserrat, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/* line 165, ../sass/screen.scss */
.red-line {
  width: 7%;
  height: 3px;
  color: salmon;
  border: 0 none;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: salmon;
}

/* line 176, ../sass/screen.scss */
.roboto {
  font: 1.5rem Roboto, sans-serif;
  color: #999999;
}

/* line 180, ../sass/screen.scss */
.img-small {
  height: 250px;
  width: calc(33.333% - 20px);
  margin-top: 100px;
}

/* line 185, ../sass/screen.scss */
.img-small:first-child {
  background-image: url("../img/img-1.jpg");
  margin-right: 20px;
}

/* line 189, ../sass/screen.scss */
.img-small:nth-of-type(2) {
  background-image: url("../img/img-2.jpg");
}

/* line 193, ../sass/screen.scss */
.img-small:last-child {
  background-image: url("../img/img-3.jpg");
  background-size: cover;
  margin-left: 20px;
  color: white;
  font: bold 1.8rem Montserrat, sans-serif;
  padding-top: 50px;
}

/* line 202, ../sass/screen.scss */
.numbers {
  background-color: #95e1d3;
  margin-top: 50px;
}

/* line 206, ../sass/screen.scss */
.bigger-number {
  color: white;
  font: bold 5rem Montserrat, sans-serif;
  padding-top: 50px;
  text-align: center;
}

/* line 212, ../sass/screen.scss */
.sub-bigger-number {
  color: white;
  font: 1.4rem Montserrat, sans-serif;
  text-align: center;
  padding-bottom: 50px;
}

/* line 218, ../sass/screen.scss */
.grey {
  background-image: url("../img/grey.jpg");
  background-size: cover;
}

/* line 222, ../sass/screen.scss */
.img-center {
  margin: 0 auto;
  display: block;
}

/* line 226, ../sass/screen.scss */
.mB-90 {
  margin-bottom: -90px;
}

@media (min-width: 1100px) {
  /* line 232, ../sass/screen.scss */
  .container-fluid {
    padding-right: 100px;
    padding-left: 100px;
  }
}
@media (max-width: 960px) {
  /* line 239, ../sass/screen.scss */
  .img-small {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    float: none;
  }

  /* line 247, ../sass/screen.scss */
  .img-small:first-child {
    margin-right: auto;
  }

  /* line 251, ../sass/screen.scss */
  .img-small:last-child {
    margin-left: auto;
  }
}
